
<%= @orders.each do |order| %>
  <ul>
    <li>
    <p>Order ID:<%= order.id %></p>
    <p>Product ID:<%= order.product_id %></p>
    <p>User ID:<%= order.user_id %></p>
    <p>Quantity:<%= order.quantity %></p>
    </li>
  </ul>
<% end %>
