<h1>Order Number:<%= params[:order_id] %></h1>
<div class="container-fluid">
  <table class="table-striped">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @ordered_products.each do |product| %>
      <tr>
      <td>
        <%= product.product.name %>
      </td>
      <td>
        <%= product.quantity %>
      </td>
      <td>
        <%= product.product.price %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          Sub-Total
        </th>
        <th>
          Sales-Tax
        </th>
        <th>
          Total
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <%= @order.sub_total %>
      </td>
      <td>
        <%= @order.tax  %>
      </td>
      <td>
        <%= @order.total %>
      </td>
    </tr>
  </table>
</div>

