<%= form_tag '/recipes', method: :post do %>
  <div class="form-group">
    <%= label_tag :input_title %>
    <%= text_field_tag(:input_title, nil, {class: "form-control", placeholder: "Enter the title here!"})%>
  </div>
  <div class="form-group">
    <%= label_tag :input_chef %> 
    <%= text_field_tag :input_chef, nil, class: "form-control", placeholder: "Enter the chef's name here!" %>
  </div>
  <div class="form-group">
    <%= label_tag :input_ingredients %>
    <%= text_field_tag :input_ingredients, nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :input_directions %>
    <%= text_field_tag :input_directions, nil, class: "form-control" %>
  </div>
  <div>
    <%= button_tag 'Send', class: "btn btn-default" %>
  </div>
<% end %>