<div class="container">

  <p>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Buy These Products</h1>
          <div class="btn-group">
            <button class="btn btn-primary"><a href="/products/<%= @random_product %>">Random Item</a></button>
            <button class="btn btn-primary">Sort By</button>
            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/products">Featured</a></li>
              <li><a href="/products?sort=price-asc">Price-Low to High</a></li>
              <li><a href="/products?sort=price-dec">Price-High to Low</a></li>


            </ul>
          </div>
          <p></p>
          <ul class="list-group">
            <% @products.each do |product| %>
            <li class="list-group-item">
              <div class="media">
                <div class="media-left media-middle">
                  <a href="/products/<%= product.id %> ">
                    <img class="media-object img-thumbnail" width="304" height="236" src="<%= product.image %>" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= product.name %></h4>
                  <p>
                    Price: $<%= product.price %> </br>
                    <%= product.description %> </br>
                    Brought to you by: <%= product.supplier.name %>
                  </p>
                </div>

              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </p>
</div>
