<%= form_tag '/images', method: :post do %>
  <div>
    <%= label_tag :product_id %>
    <%= text_field_tag :product_id %>
  </div>
  <div>
    <%= label_tag :url %>
    <%= text_field_tag :url %>
  </div>
  <div>
    <%= label_tag :fallback_text %>
    <%= text_field_tag :fallback_text %>
  </div>
  <%= submit_tag "Add Image" %>
<% end %>  

